/*the font is selected based on the suggestion from here: https://www.quora.com/What-Google-Font-looks-most-similar-to-Neutraface-Text*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  position: relative;
  width: 100vw;
}

h1 {
  text-align: center;
  font-weight: 700;
  width: 100%;
  font-size: 19.85vw;
  color: rgb(255, 254, 254);
  line-height: 1;
  font-family: Helvetica, sans-serif;
  animation: 1s both fadeIn;
}

.about {
  color: white;
  text-align: right;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  animation: 1s 1s both fadeIn;
}

.links {
  margin-top: 2rem;
  text-transform: uppercase;
  align-self: start;
  margin-left: 1rem;
  animation: 1s 2s both fadeIn;

  & a {
    display: block;
    padding: 0.25rem;
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 1.58rem;
    line-height: 1.35;
    border-top: 1px solid white;
  }

  & a::before {
    content: "\2192 ";
  }
}

.content--canvas {
  position: relative;
  width: 100vw;
  height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  justify-content: start;
  align-items: center;
}
